
    
!Main color scheme

#define COLORBG #374d58
#define COLORFG #c3af97

*color0: #484040
*color8: #594d51

*color1: #9d8d75
*color9: #f5eede

*color2: #6f6c61
*color10: #7d7f71

*color3: #536d6e
*color11: #7e7f78

*color4: #6b4657
*color12: #887d81

*color5: #abaaab6
*color13: #d0dad8

*color6: #536d6e
*color14: #7e7f78

*color7: #466375
*color15: #6a7567

!URxvt specific settings

URxvt.scrollBar: false
URxvt.internalBorder: 4
URxvt*foreground: COLORFG
URxvt*background: COLORBG
URxvt*font: -*-tewi-medium-*-*-*-11-*-*-*-*-*-*-*
URxvt.letterSpace: 1

!Clickable Links
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/google-chrome-stable
URxvt.matcher.button: 1

!Copy paste
URxvt.iso14755: False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste


!Rofi config
rofi.color-window: COLORBG, COLORBORDER
rofi.color-normal: COLORBG, COLORFG, COLORBG, COLORFG, COLORBG
rofi.color-urgent: COLORBG, COLORFG, COLORBG, COLORFG, COLORBG
rofi.color-active: COLORBG, COLORFG, COLORBG, COLORFG, COLORBG
rofi.separator-style: solid
