#define COLOR0 #200e17
#define COLOR1 #a0557b 
#define COLOR2 #a05e78
#define COLOR3 #a06173
#define COLOR4 #a06470
#define COLOR5 #a06166
#define COLOR6 #a06c73
#define COLOR7 #a06e6e
#define COLOR8 #855e5c
#define COLOR9 #c8948a
#define COLOR10 #c88675
#define COLOR11 #c89988
#define COLOR12 #c8947d
#define COLOR13 #c8997a
#define COLOR14 #d4a87f
#define COLOR15 #e0b885
#define COLORBG #3b1b2d 
#define COLORFG #DDDDB3
#define COLORBORDER #855e5c


URxvt.scrollBar: false

URxvt*color0: COLOR0
URxvt*color1: COLOR1
URxvt*color2: COLOR2
URxvt*color3: COLOR3
URxvt*color4: COLOR4
URxvt*color5: COLOR5
URxvt*color6: COLOR6
URxvt*color7: COLOR7
URxvt*color8: COLOR8
URxvt*color9: COLOR9
URxvt*color10: COLOR10
URxvt*color11: COLOR11
URxvt*color12: COLOR12
URxvt*color13: COLOR13
URxvt*color14: COLOR14
URxvt*color15: COLOR15


!URxvt*.shading: 25
!URxvt*.transparent: true
!URxvt*tintColor: [75]#5e3944

URxvt*foreground: COLORFG
URxvt*background: COLORBG

!Border
URxvt*externalBorder: 0
URxvt*borderColor: COLORBORDER


!Clickable Links
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/google-chrome-stable
URxvt.matcher.button: 1

!Copy paste
!URxvt.perl-ext-common: default,clipboard
URxvt.iso14755: False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:pasteA


!Rofi config

rofi.color-window: COLORBG, COLORBORDER
rofi.color-normal: COLORBG, COLORFG, COLORBG, COLORFG, COLORBG
rofi.color-urgent: COLORBG, COLORFG, COLORBG, COLORFG, COLORBG
rofi.color-active: COLORBG, COLORFG, COLORBG, COLORFG, COLORBG
rofi.separator-style: solid
